:root {
    --gold: #ddc686;
    --graphite: #2d2d2d;
    --rose: #c88aaa;
    --sage: #7ba085;
    --warmwhite: #faf9f6;
    --taupe: #a5998a;
    --cream: #f0efea;
    --warmgray: #e8e6e0;
	--gray-hard: #383838;
	--gray-soft: #616060;
    --radius: 16px;
    --shadow: 0 10px 25px rgba(0,0,0,.08);
    --font-main: 'Inter', sans-serif;
}

.menu {
    width: 220px;
    background: var(--gray-soft);
    border-radius: 5px;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    -ms-overflow-style: none; /* IE y Edge */
    scrollbar-width: none; /* Firefox */
}

.menu::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Opera */
}


        .menu a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 7px 15px;
            text-decoration: none!important;
            color: white!important;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            transition: background 0.3s;
			border-radius: 10px;
			background: var(--graphite);
        }
        .menu a:hover {
            background: var(--gray-hard);
        }
        .menu a i {
            margin-right: 10px;
        }
        .submenu {
            background: var(--gray-soft);
            padding-left: 20px;
            overflow: hidden;
            max-height: 0;
            transition: max-height 0.5s ease-in-out, padding 0.3s ease-in-out;
        }
        .submenu a {
            border-bottom: none;
            padding: 5px 15px;
            display: block;
			background: var(--gray-soft);
			text-align: left;
			margin-bottom: 5px;
        }
        .menu .has-submenu {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        .menu .has-submenu i.fa-chevron-down {
            margin-left: auto;
            transition: transform 0.3s ease;
        }
        .menu .has-submenu.active + .submenu {
            max-height: 200px;
            padding: 5px 0;
        }
        .menu .has-submenu.active i.fa-chevron-down {
            transform: rotate(180deg);
        }

		.menu .logo-container {
            text-align: center;
            padding: 15px;
            background: #ffffff;
        }
        .menu .logo-container img {
            max-width: 150px;
            height: auto;
        }
        